.main_list_item {
  grid-column: 2 / 5;
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  color: white;
  background-color: white;
}

.photo_container {
  grid-column: 1 / 3;
  position: relative;
}

.item_photo {
  border-radius: 0.5rem;
  object-fit: contain;
  width: 90%;
  height: auto;
  margin: 0.8rem;

  max-width: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: black;
  margin: 0;
}

.upper-left {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: black;
  margin: 0;
}

.edit_btn {
  
  grid-column: 3 / 4;

  margin: 0.8rem 1rem;
}

.edit_link {
  font-size: 2rem;
}
