.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pagination {
  margin: 1rem auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  cursor: pointer;

}
.active {
  /*border: 1px solid navy;
  border-radius: 12px;*/
  font-weight: bold;
  padding: 0 3px;
  outline: none;
}

.insert_btn {
  margin: 0.5rem auto;
  font-size:36px;
}

.insert_div {
  display: flex;
  justify-content: center;
  
}
