.edit_item_card {
  grid-column: 2 / 3;
  margin: 0.5rem;
  display: grid;
  grid-template-columns: repeat(8,1fr);

}

.trash_link_container {
  display: inline-flex;
  grid-column: 7 / 8;
  margin-left: 0.5rem;
 justify-content: center;
 align-items: center;
}

.photo {
  grid-column: 2 / 7;
  object-fit: contain;
  border-radius: 6px;
  width: 100%;
}

.trash_link {
  font-size: 1.5rem;
}

i {color: gray;}   

i:hover{
    cursor: pointer;
}
